section {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  /* flex-wrap: wrap; */
  align-items: center;
}

.house_pick {
  display: flex;
  /* gap: 10em; */
  /* border: 2px solid red; */
  gap: 4em;
}

.user_title,
.computer_title {
  font-family: var(--font-family);
  font-size: 1.45rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

.user_choice {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.computer_choice {
  margin-top: 4em;
  translate: 40px;
}

.user_icons {
  height: fit-content;
  height: fit-content;
  margin-inline: auto;
  margin-top: 3.5em;
}

.computer_icons {
  height: fit-content;
  height: fit-content;
  margin-inline: auto;
  margin-top: 3.5em;
}

.result_box {
  text-align: center;
  font-family: var(--font-family);
  font-size: 2.6rem;
  margin-top: 4em;

  translate: 30px;
}

.play_again {
  border: none;
  font-family: var(--font-family);
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem 2.2rem;
  border-radius: 5px;
}

.play_again:hover {
  cursor: pointer;
  color: hsl(349, 71%, 52%);
  background: #fff;
  transition: all 200ms ease-in-out;
}

.blank {
  padding: 3.5em;
  border-radius: 50%;
  display: flex;

  background: hsl(224, 53%, 17%);

  margin-top: 2em;
}

.rules {
  display: flex;

  background: none;
  border: 3px solid var(--header-outline);
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  cursor: pointer;

  margin-left: auto;

  margin-top: 7em;
  font-weight: var(--font-weight-600);
}

@media (max-width: 880px) {
  .house_pick {
    display: grid;
    gap: 1.5rem;
    /* border: 2px solid red; */

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /* gap: 133px; */
    /* row-gap: 0.5rem; */
    grid-template-areas:
      "top-left top-right"
      "middle   middle   ";
    row-gap: 5em;
  }

  .computer_choice {
    grid-area: top-right;
    margin-left: 0rem;
    translate: 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 4em;
    translate: -4px;
  }

  .user_choice {
    grid-area: top-left;
    display: flex;
    flex-direction: column-reverse;
    gap: 4em;
  }

  .result_box {
    grid-area: middle;
    margin-top: 0;
    font-size: 2.75rem;
    margin-inline: 0em;
    translate: 0px;
  }

  .play_again {
    font-size: 1.2rem;
    padding: 0.8rem 4.2rem;
  }

  .user_title,
  .computer_title {
    font-family: var(--font-family);

    font-size: min(4vw, 1.45rem);
    letter-spacing: 0.15rem;
  }

  .rules {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    margin-top: min(15vw, 7em);
  }

  .blank {
    padding: 3.25em;

    margin-top: 0em;
  }
}
